<a href="https://colab.research.google.com/github/SumanMaity9748/Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[1,2,3,4,5,6,7,6,4,2,1,7,5]
b = set(a)
new_list = list(b)
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
def second_smallest(l):
  smallest = min(l)
  new_l = l.remove(smallest)
  second_smallest = min(new_l) 
  return second_smallest

In [ ]:
def most_common_char(s):
  freq={}
  for char in s:
    if char in freq:
      freq[char] +=1
    else:
      freq[char] = 1
  max_freq = max(freq.values())
  for char, count in freq:
    if count == max_freq:
      return char

In [ ]:
def product_list(l):
  if not l:
    return None
  s = 1
  for el in l:
    s = s*el
  return s

In [ ]:
def even_num_list(l):
  even_list = [x for x in l if x%2==0]
  return even_list
l=[1,2,3,4,5,6,7,8,9,10]
print(even_num_list(l))

[2, 4, 6, 8, 10]

In [ ]:
def common_chars(s1, s2):
  for char in s1.lower():
    if char in s2.lower():
      common = "".join(char)
  return common

print(common_chars("Hello", "World"))

o

In [ ]:
def intersect_list(l1, l2):
  set1 = set(l1)
  set2 = set(l2)
  set3 = set1&set2
  final_list = list(set3)
  return final_list
input1 = [1, 2, 3, 4, 5]
input2 = [3, 4, 5, 6, 7]
print(intersect_list(input1, input2))

[3, 4, 5]

In [ ]:
def check_palindrome(s):
  return s.lower()==s[::-1].lower()
print(check_palindrome(s = "racecar"))

True

In [ ]:
def even_list(l):
  new_list = [x for x in l if x%2==0]
  return new_list
print(even_list(l=[1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [ ]:
def remove_vowels_from_string(s):
    vowels = "aeiouAEIOU"
    new_string = ""
    for char in s:
        if char not in vowels:
            new_string += char
    return new_string

print(remove_vowels_from_string(s = "Hello"))

l